<!-- Navigation bar for the home page -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#"><span><img src="assets/img/logo.jpg" alt="logo" id="logo"></span></a>
    <a href="#" id="title" >Knowledge Hub</a>
    <button mat-raised-button color="accent" id="loginbutton" (click)="logging()">{{Islogged}}</button>
  </mat-toolbar-row>
</mat-toolbar>
<form class="form-inline">
  <!-- <div class="form-group mx-sm-3 mb-2"> -->
    <app-searchbutton></app-searchbutton>
  <!-- </div> -->
</form>
<app-footer></app-footer>
<!-- <nav class="head">
    <mat-toolbar color="primary">
            <span class="example-fill-remaining-space"></span>
            <button mat-button (click)='navigate()'>Home</button>
            <span class="align-center">
               
            <button mat-button (click)="logging()">{{Islogged}}</button>
          </span>
        </mat-toolbar>
        </nav>


        <mat-toolbar *ngIf="this.token.getToken()">
            <button mat-button (click)='bearer()'>bearer</button> -->
          <!-- <span>Logged in as : {{user}}</span>
        </mat-toolbar> --> 
       